<div id='main'>
  <h1>covert christmas</h1>
  <h3>for large or distributed groups who want to secret santa</h3>
  <p>upload a csv with all participants, we'll randomly pair and email everyone their recipient.</p>
  <h3><%= link_to "download the example file here", "covert_christmas_example.csv" %></h3>
  <h4>forbidden people column requires the email addresses <em>(separated by commas)</em> of people to which you wish not to give a gift</h4>
  <h5>(spouses or significant others, for example)</h5>


  <%= form_for @group do |f| %>
    <span class='button-wrap'><%= f.file_field :file, :class => 'button button-pill' %></span>

    <span class='button-wrap'><%= f.submit 'Upload', :class => 'button button-pill' %></span>

  <% end %>
</div>
