<div id='main'>
  <h1>covert christmas</h1>
  <h3>for large or distributed groups who want to secret santa</h3>
  <p>upload a csv with all participants, we'll randomly pair and email everyone their recipient.</p>
  <p>spreadsheet should have three columns with the following headers:</p>
  <p id="headers"><strong>First Name, Last Name, Email Address</strong></p>

  <%= form_for @group do |f| %>
    <span class='button-wrap'><%= f.file_field :file, :class => 'button button-pill' %></span>

    <span class='button-wrap'><%= f.submit 'Upload', :class => 'button button-pill' %></span>

  <% end %>
</div>
